In [1]:
import numpy as np
import pandas as pd
from yaml import safe_load
import os
from tqdm import tqdm

In [2]:
filenames = []
for file in os.listdir('data'):
    filenames.append(os.path.join('data',file))

In [3]:
filenames[0:5]

['data\\1001349.yaml',
 'data\\1001351.yaml',
 'data\\1001353.yaml',
 'data\\1004729.yaml',
 'data\\1007655.yaml']

In [4]:
final_df = pd.DataFrame()
counter = 1
for file in tqdm(filenames):
    with open(file, 'r') as f:
        df = pd.json_normalize(safe_load(f))
        df['match_id'] = counter
        final_df = final_df.append(df)
        counter+=1
        
final_df

100%|██████████████████████████████████████████████████████████████████████████████| 1267/1267 [30:43<00:00,  1.45s/it]

,innings,meta.data_version,meta.created,meta.revision,info.balls_per_over,info.dates,info.gender,info.match_type,info.outcome.by.wickets,info.outcome.winner,...,info.registry.people.Usman Mushtaq,info.registry.people.Mohammad Shahid,info.registry.people.Muktar Ali,info.registry.people.A Deshmukh,info.registry.people.Mohammad Usman,info.registry.people.Farhan Ahmed,info.registry.people.VS Wategaonkar,info.registry.people.Khurram Manzoor,info.registry.people.P Negi,info.registry.people.Hafiz Qaleem
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2017-02-18,2,6,[2017-02-17],male,T20,5.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2017-02-19,2,6,[2017-02-19],male,T20,2.0,Sri Lanka,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2017-02-23,1,6,[2017-02-22],male,T20,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",0.91,2016-09-12,1,6,[2016-09-05],male,T20,NaN,Hong Kong,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",0.91,2016-06-19,1,6,[2016-06-18],male,T20,NaN,Zimbabwe,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.91,2016-03-05,2,6,[2016-03-04],male,T20,6.0,Pakistan,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",0.91,2016-03-08,1,6,[2016-03-06],male,T20,8.0,India,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",0.91,2016-02-03,1,6,[2016-02-03],male,T20,NaN,Netherlands,...,NaN,NaN,NaN,NaN,cee89f44,927694f7,NaN,NaN,NaN,f566cd7d
0,"[{'1st innings': {'team': 'Australia', 'delive...",0.91,2016-09-12,1,6,[2016-09-06],male,T20,NaN,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",0.91,2016-09-12,1,6,[2016-09-09],male,T20,4.0,Australia,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
final_df.drop(columns=[
    'meta.data_version',
    'meta.created',
    'meta.revision',
    'info.outcome.bowl_out',
    'info.bowl_out',
    'info.supersubs.South Africa',
    'info.supersubs.New Zealand',
    'info.outcome.eliminator',
    'info.outcome.result',
    'info.outcome.method',
    'info.neutral_venue',
    'info.match_type_number',
    'info.outcome.by.runs',
    'info.outcome.by.wickets'
],inplace=True)

In [6]:
final_df

,innings,info.balls_per_over,info.dates,info.gender,info.match_type,info.outcome.winner,info.overs,info.player_of_match,info.players.Australia,info.players.Sri Lanka,...,info.registry.people.Usman Mushtaq,info.registry.people.Mohammad Shahid,info.registry.people.Muktar Ali,info.registry.people.A Deshmukh,info.registry.people.Mohammad Usman,info.registry.people.Farhan Ahmed,info.registry.people.VS Wategaonkar,info.registry.people.Khurram Manzoor,info.registry.people.P Negi,info.registry.people.Hafiz Qaleem
0,"[{'1st innings': {'team': 'Australia', 'delive...",6,[2017-02-17],male,T20,Sri Lanka,20,[DAS Gunaratne],"[AJ Finch, M Klinger, TM Head, MC Henriques, A...","[N Dickwella, WU Tharanga, EMDY Munaweera, DAS...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",6,[2017-02-19],male,T20,Sri Lanka,20,[DAS Gunaratne],"[M Klinger, AJ Finch, BR Dunk, MC Henriques, T...","[N Dickwella, WU Tharanga, EMDY Munaweera, BKG...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",6,[2017-02-22],male,T20,Australia,20,[A Zampa],"[AJ Finch, M Klinger, BR Dunk, TM Head, MC Hen...","[EMDY Munaweera, WU Tharanga, BKG Mendis, DAS ...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",6,[2016-09-05],male,T20,Hong Kong,20,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",6,[2016-06-18],male,T20,Zimbabwe,20,[E Chigumbura],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",6,[2016-03-04],male,T20,Pakistan,20,[Umar Akmal],NaN,"[LD Chandimal, TM Dilshan, GSNFG Jayasuriya, C...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",6,[2016-03-06],male,T20,India,20,[S Dhawan],NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",6,[2016-02-03],male,T20,Netherlands,20,[Mudassar Bukhari],NaN,NaN,...,NaN,NaN,NaN,NaN,cee89f44,927694f7,NaN,NaN,NaN,f566cd7d
0,"[{'1st innings': {'team': 'Australia', 'delive...",6,[2016-09-06],male,T20,Australia,20,[GJ Maxwell],"[GJ Maxwell, DA Warner, UT Khawaja, TM Head, G...","[MDKJ Perera, TM Dilshan, DM de Silva, LD Chan...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",6,[2016-09-09],male,T20,Australia,20,[GJ Maxwell],"[DA Warner, GJ Maxwell, MC Henriques, JP Faulk...","[MDKJ Perera, TM Dilshan, DM de Silva, LD Chan...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
final_df['info.gender'].value_counts()

male    1267
Name: info.gender, dtype: int64

In [8]:
final_df['info.match_type'].value_counts()

T20    1267
Name: info.match_type, dtype: int64

In [9]:
final_df['info.overs'].value_counts()

20    1264
50       3
Name: info.overs, dtype: int64

In [12]:
final_df = final_df[final_df['info.overs'] == 20]
final_df.drop(columns=['info.overs','info.match_type'],inplace=True)

KeyError: 'info.overs'

In [13]:
final_df

,innings,info.balls_per_over,info.dates,info.gender,info.outcome.winner,info.player_of_match,info.players.Australia,info.players.Sri Lanka,info.registry.people.A Zampa,info.registry.people.AJ Finch,...,info.registry.people.Usman Mushtaq,info.registry.people.Mohammad Shahid,info.registry.people.Muktar Ali,info.registry.people.A Deshmukh,info.registry.people.Mohammad Usman,info.registry.people.Farhan Ahmed,info.registry.people.VS Wategaonkar,info.registry.people.Khurram Manzoor,info.registry.people.P Negi,info.registry.people.Hafiz Qaleem
0,"[{'1st innings': {'team': 'Australia', 'delive...",6,[2017-02-17],male,Sri Lanka,[DAS Gunaratne],"[AJ Finch, M Klinger, TM Head, MC Henriques, A...","[N Dickwella, WU Tharanga, EMDY Munaweera, DAS...",14f96089,b8d490fd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",6,[2017-02-19],male,Sri Lanka,[DAS Gunaratne],"[M Klinger, AJ Finch, BR Dunk, MC Henriques, T...","[N Dickwella, WU Tharanga, EMDY Munaweera, BKG...",NaN,b8d490fd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Australia', 'delive...",6,[2017-02-22],male,Australia,[A Zampa],"[AJ Finch, M Klinger, BR Dunk, TM Head, MC Hen...","[EMDY Munaweera, WU Tharanga, BKG Mendis, DAS ...",14f96089,b8d490fd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Hong Kong', 'delive...",6,[2016-09-05],male,Hong Kong,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Zimbabwe', 'deliver...",6,[2016-06-18],male,Zimbabwe,[E Chigumbura],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",6,[2016-03-04],male,Pakistan,[Umar Akmal],NaN,"[LD Chandimal, TM Dilshan, GSNFG Jayasuriya, C...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Bangladesh', 'deliv...",6,[2016-03-06],male,India,[S Dhawan],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Netherlands', 'deli...",6,[2016-02-03],male,Netherlands,[Mudassar Bukhari],NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,cee89f44,927694f7,NaN,NaN,NaN,f566cd7d
0,"[{'1st innings': {'team': 'Australia', 'delive...",6,[2016-09-06],male,Australia,[GJ Maxwell],"[GJ Maxwell, DA Warner, UT Khawaja, TM Head, G...","[MDKJ Perera, TM Dilshan, DM de Silva, LD Chan...",14f96089,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,"[{'1st innings': {'team': 'Sri Lanka', 'delive...",6,[2016-09-09],male,Australia,[GJ Maxwell],"[DA Warner, GJ Maxwell, MC Henriques, JP Faulk...","[MDKJ Perera, TM Dilshan, DM de Silva, LD Chan...",14f96089,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
import pickle
pickle.dump(final_df,open('dataset_level1.pkl','wb'))

In [16]:
matches = pickle.load(open('dataset_level1.pkl','rb'))

In [17]:
matches.iloc[0]['innings'][0]['1st innings']['deliveries']

[{0.1: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.2: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.3: {'batsman': 'AJ Finch',
   'bowler': 'SL Malinga',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {0.4: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {0.5: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {0.6: {'batsman': 'M Klinger',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {1.1: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.2: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {1.3: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {1.5: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {1.6: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {2.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {2.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {2.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {2.6: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.1: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {3.2: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.3: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.4: {'batsman': 'AJ Finch',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {3.5: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {3.6: {'batsman': 'M Klinger',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.1: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.2: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {4.3: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.4: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {4.5: {'batsman': 'M Klinger',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {4.6: {'batsman': 'AJ Finch',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.1: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'wides': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {5.3: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {5.5: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {5.7: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {6.4: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {6.6: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {7.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {7.2: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {7.4: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'extras': {'byes': 1},
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {7.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {7.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.2: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {8.3: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {8.4: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.5: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {8.6: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.1: {'batsman': 'M Klinger',
   'bowler': 'S Prasanna',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {9.2: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.3: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.4: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {9.5: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {9.6: {'batsman': 'AJ Finch',
   'bowler': 'S Prasanna',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {10.1: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.2: {'batsman': 'AJ Finch',
   'bowler': 'PADLR Sandakan',
   'extras': {'legbyes': 1},
   'non_striker': 'M Klinger',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {10.3: {'batsman': 'M Klinger',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'M Klinger'}}},
 {10.4: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {10.5: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {10.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'AJ Finch',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {11.1: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {11.2: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {11.3: {'batsman': 'AJ Finch',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['SL Malinga'],
    'kind': 'caught',
    'player_out': 'AJ Finch'}}},
 {11.4: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.5: {'batsman': 'MC Henriques',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {11.6: {'batsman': 'TM Head',
   'bowler': 'DAS Gunaratne',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.1: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.2: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.3: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.4: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {12.5: {'batsman': 'TM Head',
   'bowler': 'S Prasanna',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {12.6: {'batsman': 'MC Henriques',
   'bowler': 'S Prasanna',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.1: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {13.2: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'extras': {'wides': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {13.3: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {13.5: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.6: {'batsman': 'MC Henriques',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {13.7: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.1: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.2: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.3: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {14.4: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {14.5: {'batsman': 'MC Henriques',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'TM Head',
   'runs': {'batsman': 3, 'extras': 0, 'total': 3}}},
 {14.6: {'batsman': 'TM Head',
   'bowler': 'PADLR Sandakan',
   'non_striker': 'MC Henriques',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.1: {'batsman': 'MC Henriques',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['CK Kapugedera'],
    'kind': 'caught',
    'player_out': 'MC Henriques'}}},
 {15.2: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.3: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.4: {'batsman': 'AJ Turner',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {15.5: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {15.6: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'extras': {'wides': 1},
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {15.7: {'batsman': 'TM Head',
   'bowler': 'JRMVB Sanjaya',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 6, 'extras': 0, 'total': 6}}},
 {16.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {16.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {16.3: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {16.6: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.1: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.2: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {17.3: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'noballs': 1},
   'non_striker': 'TM Head',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {17.4: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.5: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.6: {'batsman': 'AJ Turner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {17.7: {'batsman': 'TM Head',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.1: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.2: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'TM Head',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {18.3: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {18.4: {'batsman': 'TM Head',
   'bowler': 'SL Malinga',
   'non_striker': 'AJ Turner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'TM Head'}}},
 {18.5: {'batsman': 'AJ Turner',
   'bowler': 'SL Malinga',
   'non_striker': 'JP Faulkner',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0},
   'wicket': {'fielders': ['S Prasanna'],
    'kind': 'caught',
    'player_out': 'AJ Turner'}}},
 {18.6: {'batsman': 'JP Faulkner',
   'bowler': 'SL Malinga',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1}}},
 {19.1: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}},
 {19.2: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 0, 'total': 0}}},
 {19.3: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.4: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'extras': {'wides': 1},
   'non_striker': 'TD Paine',
   'runs': {'batsman': 0, 'extras': 1, 'total': 1}}},
 {19.5: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'TD Paine',
   'runs': {'batsman': 1, 'extras': 0, 'total': 1},
   'wicket': {'fielders': ['CK Kapugedera', 'KMDN Kulasekara'],
    'kind': 'run out',
    'player_out': 'TD Paine'}}},
 {19.6: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 2, 'extras': 0, 'total': 2}}},
 {19.7: {'batsman': 'JP Faulkner',
   'bowler': 'KMDN Kulasekara',
   'non_striker': 'PJ Cummins',
   'runs': {'batsman': 4, 'extras': 0, 'total': 4}}}]

In [18]:
count = 1
delivery_df = pd.DataFrame()
for index, row in matches.iterrows():
    if count in [75,108,150,180,268,360,443,458,584,748,982,1052,1111,1226,1345]:
        count+=1
        continue
    count+=1
    ball_of_match = []
    batsman = []
    bowler = []
    runs = []
    player_of_dismissed = []
    teams = []
    batting_team = []
    mid = []
    city = []
    venue = []
    for ball in row['innings'][0]['1st innings']['deliveries']:
        for key in ball.keys():
            mid.append(count)
            batting_team.append(row['innings'][0]['1st innings']['team'])
            teams.append(row['info.teams'])
            ball_of_match.append(key)
            batsman.append(ball[key]['batsman'])
            bowler.append(ball[key]['bowler'])
            runs.append(ball[key]['runs']['total'])
            city.append(row['info.city'])
            venue.append(row['info.venue'])
            try:
                player_of_dismissed.append(ball[key]['wicket']['player_out'])
            except:
                player_of_dismissed.append('0')
    loop_df = pd.DataFrame({
            'mid':mid,
            'teams':teams,
            'batting_team':batting_team,
            'ball':ball_of_match,
            'batsman':batsman,
            'bowler':bowler,
            'runs':runs,
            'player_dismissed':player_of_dismissed,
            'city':city,
            'venue':venue
        })
    delivery_df = delivery_df.append(loop_df)

In [24]:
delivery_df

,mid,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...,...,...
121,1265,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium
122,1265,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium
123,1265,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium
124,1265,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium
125,1265,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium

In [25]:
def bowl(row):
    for team in row['teams']:
        if team != row['batting_team']:
            return team

In [26]:
delivery_df['bowling_team'] = delivery_df.apply(bowl,axis=1)

In [27]:
delivery_df

,mid,teams,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,"[Australia, Sri Lanka]",Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,"[Australia, Sri Lanka]",Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,"[Australia, Sri Lanka]",Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,"[Australia, Sri Lanka]",Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,"[Australia, Sri Lanka]",Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...,...
121,1265,"[Sri Lanka, Australia]",Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
122,1265,"[Sri Lanka, Australia]",Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
123,1265,"[Sri Lanka, Australia]",Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
124,1265,"[Sri Lanka, Australia]",Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
125,1265,"[Sri Lanka, Australia]",Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [28]:
delivery_df.drop(columns=['teams'],inplace=True)

In [29]:
delivery_df

,mid,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...
121,1265,Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
122,1265,Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
123,1265,Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
124,1265,Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
125,1265,Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [30]:
delivery_df['batting_team'].unique()

array(['Australia', 'Hong Kong', 'Zimbabwe', 'India', 'Bangladesh',
       'New Zealand', 'South Africa', 'England', 'West Indies', 'Ireland',
       'Afghanistan', 'Pakistan', 'United Arab Emirates', 'Scotland',
       'Oman', 'Papua New Guinea', 'Sri Lanka', 'Netherlands', 'Nepal',
       'Vanuatu', 'Philippines', 'United States of America', 'Germany',
       'Ghana', 'Uganda', 'Kenya', 'Namibia', 'Nigeria', 'Botswana',
       'Guernsey', 'Denmark', 'Jersey', 'Italy', 'Norway', 'Thailand',
       'Malaysia', 'Maldives', 'Singapore', 'Kuwait', 'Bermuda', 'Canada',
       'Cayman Islands', 'Portugal', 'Gibraltar', 'Spain', 'Bhutan',
       'Qatar', 'Iran', 'Belgium', 'Isle of Man', 'Bulgaria', 'Romania',
       'Luxembourg', 'Austria', 'Czech Republic', 'Greece', 'Serbia',
       'Malta', 'France', 'Sweden', 'Rwanda', 'Finland', 'Hungary',
       'Estonia', 'Cyprus', 'Switzerland', 'Swaziland', 'Seychelles',
       'Malawi', 'Lesotho', 'Tanzania', 'Mozambique', 'Sierra Leone',
       'Cameroon', 'Bahrain', 'Belize', 'Bahamas', 'Argentina', 'Panama'],
      dtype=object)

In [31]:
teams = [
    'Australia',
    'India',
    'Bangladesh',
    'New Zealand',
    'South Africa',
    'England',
    'West Indies',
    'Afghanistan',
    'Pakistan',
    'Sri Lanka'    
]

In [33]:
delivery_df = delivery_df[delivery_df['batting_team'].isin(teams)]
delivery_df = delivery_df[delivery_df['bowling_team'].isin(teams)]

In [34]:
delivery_df

,mid,batting_team,ball,batsman,bowler,runs,player_dismissed,city,venue,bowling_team
0,2,Australia,0.1,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
1,2,Australia,0.2,AJ Finch,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
2,2,Australia,0.3,AJ Finch,SL Malinga,1,0,NaN,Melbourne Cricket Ground,Sri Lanka
3,2,Australia,0.4,M Klinger,SL Malinga,2,0,NaN,Melbourne Cricket Ground,Sri Lanka
4,2,Australia,0.5,M Klinger,SL Malinga,0,0,NaN,Melbourne Cricket Ground,Sri Lanka
...,...,...,...,...,...,...,...,...,...,...
121,1265,Sri Lanka,19.3,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia
122,1265,Sri Lanka,19.4,DM de Silva,MA Starc,0,0,Colombo,R Premadasa Stadium,Australia
123,1265,Sri Lanka,19.5,DM de Silva,MA Starc,0,DM de Silva,Colombo,R Premadasa Stadium,Australia
124,1265,Sri Lanka,19.6,SMSM Senanayake,MA Starc,2,0,Colombo,R Premadasa Stadium,Australia
125,1265,Sri Lanka,19.7,SMSM Senanayake,MA Starc,1,0,Colombo,R Premadasa Stadium,Australia

In [36]:
delivery_df.to_csv('t20.csv')

In [35]:
output = delivery_df[['mid','batting_team','bowling_team','ball','runs','player_dismissed','city','venue']]

In [65]:
output

,mid,batting_team,bowling_team,ball,runs,player_dismissed,city,venue
0,2,Australia,Sri Lanka,0.1,0,0,NaN,Melbourne Cricket Ground
1,2,Australia,Sri Lanka,0.2,0,0,NaN,Melbourne Cricket Ground
2,2,Australia,Sri Lanka,0.3,1,0,NaN,Melbourne Cricket Ground
3,2,Australia,Sri Lanka,0.4,2,0,NaN,Melbourne Cricket Ground
4,2,Australia,Sri Lanka,0.5,0,0,NaN,Melbourne Cricket Ground
...,...,...,...,...,...,...,...,...
121,1265,Sri Lanka,Australia,19.3,1,0,Colombo,R Premadasa Stadium
122,1265,Sri Lanka,Australia,19.4,0,0,Colombo,R Premadasa Stadium
123,1265,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,R Premadasa Stadium
124,1265,Sri Lanka,Australia,19.6,2,0,Colombo,R Premadasa Stadium
125,1265,Sri Lanka,Australia,19.7,1,0,Colombo,R Premadasa Stadium

In [66]:
pickle.dump(output,open('dataset_level2.pkl','wb'))

In [94]:
df = pickle.load(open('dataset_level2.pkl','rb'))

In [95]:
df.isnull().sum()

mid                    0
batting_team           0
bowling_team           0
ball                   0
runs                   0
player_dismissed       0
city                8543
venue                  0
dtype: int64

In [96]:
output[output['city'].isnull()]['venue'].value_counts()

Dubai International Cricket Stadium        2964
Pallekele International Cricket Stadium    2066
Melbourne Cricket Ground                   1453
Sydney Cricket Ground                       749
Adelaide Oval                               498
Harare Sports Club                          372
Sharjah Cricket Stadium                     249
Sylhet International Cricket Stadium        128
Carrara Oval                                 64
Name: venue, dtype: int64

In [97]:
cities = np.where(df['city'].isnull(),df['venue'].str.split().apply(lambda x:x[0]),df['city'])

In [98]:
df['city'] = cities

In [99]:
df.isnull().sum()

mid                 0
batting_team        0
bowling_team        0
ball                0
runs                0
player_dismissed    0
city                0
venue               0
dtype: int64

In [100]:
df.drop(columns=['venue'],inplace=True)

In [101]:
df

      mid batting_team bowling_team  ball  runs player_dismissed       city
0       2    Australia    Sri Lanka   0.1     0                0  Melbourne
1       2    Australia    Sri Lanka   0.2     0                0  Melbourne
2       2    Australia    Sri Lanka   0.3     1                0  Melbourne
3       2    Australia    Sri Lanka   0.4     2                0  Melbourne
4       2    Australia    Sri Lanka   0.5     0                0  Melbourne
..    ...          ...          ...   ...   ...              ...        ...
121  1265    Sri Lanka    Australia  19.3     1                0    Colombo
122  1265    Sri Lanka    Australia  19.4     0                0    Colombo
123  1265    Sri Lanka    Australia  19.5     0      DM de Silva    Colombo
124  1265    Sri Lanka    Australia  19.6     2                0    Colombo
125  1265    Sri Lanka    Australia  19.7     1                0    Colombo

[74383 rows x 7 columns]

In [102]:
df['city'].value_counts()

Colombo          4816
Dubai            4149
Johannesburg     3578
Mirpur           3297
Auckland         2655
                 ...
Victoria          123
Dharamsala        122
Potchefstroom     122
Carrara            64
Bridgetown         56
Name: city, Length: 92, dtype: int64

In [103]:
eligible_cities = df['city'].value_counts()[df['city'].value_counts() > 400].index.tolist()

In [104]:
df = df[df['city'].isin(eligible_cities)]

In [105]:
df

      mid batting_team bowling_team  ball  runs player_dismissed       city
0       2    Australia    Sri Lanka   0.1     0                0  Melbourne
1       2    Australia    Sri Lanka   0.2     0                0  Melbourne
2       2    Australia    Sri Lanka   0.3     1                0  Melbourne
3       2    Australia    Sri Lanka   0.4     2                0  Melbourne
4       2    Australia    Sri Lanka   0.5     0                0  Melbourne
..    ...          ...          ...   ...   ...              ...        ...
121  1265    Sri Lanka    Australia  19.3     1                0    Colombo
122  1265    Sri Lanka    Australia  19.4     0                0    Colombo
123  1265    Sri Lanka    Australia  19.5     0      DM de Silva    Colombo
124  1265    Sri Lanka    Australia  19.6     2                0    Colombo
125  1265    Sri Lanka    Australia  19.7     1                0    Colombo

[64011 rows x 7 columns]

In [113]:
df['current_score'] = df.groupby('mid').cumsum()['runs']

C:\Users\Anish\AppData\Local\Temp/ipykernel_8248/115409903.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['current_score'] = df.groupby('mid').cumsum()['runs']

In [114]:
df

,mid,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3
...,...,...,...,...,...,...,...,...
121,1265,Sri Lanka,Australia,19.3,1,0,Colombo,125
122,1265,Sri Lanka,Australia,19.4,0,0,Colombo,125
123,1265,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125
124,1265,Sri Lanka,Australia,19.6,2,0,Colombo,127
125,1265,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [117]:
df.descirbe()

AttributeError: 'DataFrame' object has no attribute 'descirbe'

In [111]:
df['balls_bowled'] = (df['over'].astype('int')*6) + df['ball_no'].astype('int')

KeyError: 'over'

In [112]:
df

,mid,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3
...,...,...,...,...,...,...,...,...
121,1265,Sri Lanka,Australia,19.3,1,0,Colombo,125
122,1265,Sri Lanka,Australia,19.4,0,0,Colombo,125
123,1265,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125
124,1265,Sri Lanka,Australia,19.6,2,0,Colombo,127
125,1265,Sri Lanka,Australia,19.7,1,0,Colombo,128

In [86]:
df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

C:\Users\Anish\AppData\Local\Temp/ipykernel_8248/1757844946.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['over'] = df['ball'].apply(lambda x:str(x).split(".")[0])
C:\Users\Anish\AppData\Local\Temp/ipykernel_8248/1757844946.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['ball_no'] = df['ball'].apply(lambda x:str(x).split(".")[1])

In [87]:
df

,mid,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5
...,...,...,...,...,...,...,...,...,...,...
121,1265,Sri Lanka,Australia,19.3,1,0,Colombo,125,19,3
122,1265,Sri Lanka,Australia,19.4,0,0,Colombo,125,19,4
123,1265,Sri Lanka,Australia,19.5,0,DM de Silva,Colombo,125,19,5
124,1265,Sri Lanka,Australia,19.6,2,0,Colombo,127,19,6
125,1265,Sri Lanka,Australia,19.7,1,0,Colombo,128,19,7

In [88]:
df['balls_left'] = 120 - df['balls_bowled']
df['balls_left'] = df['balls_left'].apply(lambda x:0 if x<0 else x)
df

KeyError: 'balls_bowled'

In [90]:
df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
df['player_dismissed'] = df['player_dismissed'].astype('int')
df['player_dismissed'] = df.groupby('mid').cumsum()['player_dismissed']
df['wickeets'] = df['palyer_dismissed']
df['wickets_left'] = 10 - df['player_dismissed']

C:\Users\Anish\AppData\Local\Temp/ipykernel_8248/2444720787.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].apply(lambda x:0 if x=='0' else 1)
C:\Users\Anish\AppData\Local\Temp/ipykernel_8248/2444720787.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df['player_dismissed'].astype('int')
C:\Users\Anish\AppData\Local\Temp/ipykernel_8248/2444720787.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['player_dismissed'] = df.groupby('mid').cumsum()['player_dismissed']

KeyError: 'palyer_dismissed'

In [91]:
df

,mid,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no
0,2,Australia,Sri Lanka,0.1,0,1,Melbourne,0,0,1
1,2,Australia,Sri Lanka,0.2,0,2,Melbourne,0,0,2
2,2,Australia,Sri Lanka,0.3,1,3,Melbourne,1,0,3
3,2,Australia,Sri Lanka,0.4,2,4,Melbourne,3,0,4
4,2,Australia,Sri Lanka,0.5,0,5,Melbourne,3,0,5
...,...,...,...,...,...,...,...,...,...,...
121,1265,Sri Lanka,Australia,19.3,1,122,Colombo,125,19,3
122,1265,Sri Lanka,Australia,19.4,0,123,Colombo,125,19,4
123,1265,Sri Lanka,Australia,19.5,0,124,Colombo,125,19,5
124,1265,Sri Lanka,Australia,19.6,2,125,Colombo,127,19,6
125,1265,Sri Lanka,Australia,19.7,1,126,Colombo,128,19,7

In [92]:
df['crr'] = (df['current_score']*6)/df['balls_bowled']

KeyError: 'balls_bowled'

In [72]:
df

,match_id,batting_team,bowling_team,ball,runs,player_dismissed,city,current_score,over,ball_no,balls_bowled,balls_left,wickets_left,crr
0,2,Australia,Sri Lanka,0.1,0,0,Melbourne,0,0,1,1,119,10,0.000000
1,2,Australia,Sri Lanka,0.2,0,0,Melbourne,0,0,2,2,118,10,0.000000
2,2,Australia,Sri Lanka,0.3,1,0,Melbourne,1,0,3,3,117,10,2.000000
3,2,Australia,Sri Lanka,0.4,2,0,Melbourne,3,0,4,4,116,10,4.500000
4,2,Australia,Sri Lanka,0.5,0,0,Melbourne,3,0,5,5,115,10,3.600000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121,1265,Sri Lanka,Australia,19.3,1,8,Colombo,125,19,3,117,3,2,6.410256
122,1265,Sri Lanka,Australia,19.4,0,8,Colombo,125,19,4,118,2,2,6.355932
123,1265,Sri Lanka,Australia,19.5,0,9,Colombo,125,19,5,119,1,1,6.302521
124,1265,Sri Lanka,Australia,19.6,2,9,Colombo,127,19,6,120,0,1,6.350000
125,1265,Sri Lanka,Australia,19.7,1,9,Colombo,128,19,7,121,0,1,6.347107

In [73]:
groups = df.groupby('match_id')

match_ids = df['match_id'].unique()
last_five = []
for id in match_ids:
    last_five.extend(groups.get_group(id).rolling(window=30).sum()['runs'].values.tolist())

In [98]:
df['last_five'] = last_five

C:\Users\Anish\AppData\Local\Temp/ipykernel_1456/1595651733.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['last_five'] = last_five

In [87]:
df.to_csv('t20df.csv')

In [76]:
last_five

[nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 43.0,
 44.0,
 45.0,
 44.0,
 42.0,
 43.0,
 41.0,
 41.0,
 41.0,
 42.0,
 42.0,
 39.0,
 38.0,
 39.0,
 38.0,
 39.0,
 40.0,
 37.0,
 41.0,
 42.0,
 42.0,
 44.0,
 44.0,
 40.0,
 39.0,
 37.0,
 35.0,
 31.0,
 27.0,
 26.0,
 31.0,
 31.0,
 30.0,
 31.0,
 31.0,
 32.0,
 31.0,
 31.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 35.0,
 32.0,
 32.0,
 31.0,
 29.0,
 29.0,
 31.0,
 32.0,
 32.0,
 32.0,
 33.0,
 36.0,
 37.0,
 37.0,
 39.0,
 41.0,
 40.0,
 41.0,
 41.0,
 42.0,
 44.0,
 39.0,
 43.0,
 45.0,
 48.0,
 48.0,
 48.0,
 49.0,
 49.0,
 49.0,
 51.0,
 51.0,
 51.0,
 52.0,
 52.0,
 53.0,
 53.0,
 53.0,
 54.0,
 53.0,
 52.0,
 50.0,
 53.0,
 47.0,
 46.0,
 45.0,
 46.0,
 47.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 46.0,
 52.0,
 53.0,
 57.0,
 58.0,
 59.0,
 59.0,
 59.0,
 53.0,
 53.0,
 54.0,
 50.0,
 50.0,
 49.0,
 50.0,
 47.0,
 48.0,
 49.0,
 49.0,
 46.0,
 46.0,
 51.0,
 48.0,
 48.0,
 48.0,
 44.0,
 45.0,
 42.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 36.0,
 35.0,
 39.0,
 39.0,
 38.0,
 38.0,
 37.0,
 37.0,
 38.0,
 39.0,
 41.0,
 40.0,
 40.0,
 39.0,
 38.0,
 39.0,
 42.0,
 47.0,
 42.0,
 45.0,
 45.0,
 49.0,
 49.0,
 48.0,
 47.0,
 45.0,
 45.0,
 45.0,
 40.0,
 41.0,
 41.0,
 42.0,
 37.0,
 38.0,
 39.0,
 43.0,
 46.0,
 47.0,
 47.0,
 46.0,
 50.0,
 56.0,
 57.0,
 60.0,
 59.0,
 59.0,
 55.0,
 51.0,
 51.0,
 51.0,
 53.0,
 51.0,
 51.0,
 52.0,
 53.0,
 54.0,
 53.0,
 54.0,
 53.0,
 52.0,
 51.0,
 51.0,
 51.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 42.0,
 42.0,
 43.0,
 42.0,
 42.0,
 43.0,
 40.0,
 40.0,
 37.0,
 33.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 37.0,
 34.0,
 39.0,
 35.0,
 36.0,
 36.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 34.0,
 35.0,
 41.0,
 43.0,
 41.0,
 42.0,
 43.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 47.0,
 50.0,
 51.0,
 52.0,
 57.0,
 53.0,
 58.0,
 61.0,
 59.0,
 65.0,
 68.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 70.0,
 74.0,
 73.0,
 68.0,
 67.0,
 66.0,
 66.0,
 66.0,
 70.0,
 70.0,
 71.0,
 71.0,
 72.0,
 74.0,
 69.0,
 65.0,
 66.0,
 64.0,
 59.0,
 58.0,
 53.0,
 50.0,
 48.0,
 43.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 41.0,
 42.0,
 40.0,
 40.0,
 41.0,
 40.0,
 41.0,
 40.0,
 40.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 36.0,
 36.0,
 35.0,
 35.0,
 32.0,
 32.0,
 32.0,
 31.0,
 30.0,
 30.0,
 30.0,
 30.0,
 30.0,
 31.0,
 32.0,
 31.0,
 31.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 28.0,
 25.0,
 21.0,
 20.0,
 17.0,
 18.0,
 18.0,
 18.0,
 18.0,
 19.0,
 19.0,
 19.0,
 20.0,
 21.0,
 25.0,
 26.0,
 27.0,
 28.0,
 34.0,
 34.0,
 34.0,
 35.0,
 38.0,
 40.0,
 44.0,
 45.0,
 45.0,
 45.0,
 46.0,
 51.0,
 54.0,
 53.0,
 53.0,
 53.0,
 56.0,
 56.0,
 59.0,
 64.0,
 70.0,
 70.0,
 71.0,
 69.0,
 67.0,
 67.0,
 63.0,
 62.0,
 62.0,
 67.0,
 67.0,
 72.0,
 73.0,
 71.0,
 68.0,
 68.0,
 65.0,
 68.0,
 68.0,
 74.0,
 73.0,
 69.0,
 66.0,
 68.0,
 74.0,
 74.0,
 71.0,
 76.0,
 73.0,
 68.0,
 62.0,
 67.0,
 68.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 41.0,
 42.0,
 39.0,
 43.0,
 44.0,
 47.0,
 51.0,
 51.0,
 48.0,
 44.0,
 44.0,
 45.0,
 46.0,
 47.0,
 49.0,
 49.0,
 50.0,
 52.0,
 54.0,
 54.0,
 54.0,
 55.0,
 54.0,
 60.0,
 61.0,
 56.0,
 58.0,
 58.0,
 54.0,
 56.0,
 57.0,
 56.0,
 55.0,
 52.0,
 51.0,
 48.0,
 45.0,
 46.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 45.0,
 44.0,
 43.0,
 43.0,
 45.0,
 44.0,
 47.0,
 47.0,
 46.0,
 49.0,
 44.0,
 43.0,
 46.0,
 40.0,
 38.0,
 44.0,
 39.0,
 39.0,
 40.0,
 41.0,
 40.0,
 46.0,
 45.0,
 45.0,
 44.0,
 44.0,
 44.0,
 44.0,
 44.0,
 47.0,
 50.0,
 50.0,
 50.0,
 55.0,
 52.0,
 51.0,
 53.0,
 53.0,
 53.0,
 50.0,
 49.0,
 50.0,
 46.0,
 46.0,
 50.0,
 44.0,
 43.0,
 44.0,
 43.0,
 46.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 33.0,
 33.0,
 36.0,
 36.0,
 34.0,
 34.0,
 35.0,
 36.0,
 36.0,
 36.0,
 32.0,
 33.0,
 32.0,
 29.0,
 23.0,
 23.0,
 26.0,
 27.0,
 27.0,
 27.0,
 27.0,
 26.0,
 27.0,
 27.0,
 27.0,
 23.0,
 24.0,
 25.0,
 27.0,
 27.0,
 28.0,
 29.0,
 26.0,
 27.0,
 26.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 26.0,
 27.0,
 27.0,
 26.0,
 28.0,
 28.0,
 25.0,
 25.0,
 25.0,
 25.0,
 24.0,
 25.0,
 24.0,
 25.0,
 25.0,
 29.0,
 30.0,
 29.0,
 31.0,
 31.0,
 31.0,
 31.0,
 30.0,
 29.0,
 30.0,
 29.0,
 34.0,
 34.0,
 35.0,
 35.0,
 34.0,
 33.0,
 38.0,
 39.0,
 37.0,
 38.0,
 38.0,
 38.0,
 37.0,
 38.0,
 40.0,
 43.0,
 49.0,
 50.0,
 51.0,
 47.0,
 46.0,
 52.0,
 48.0,
 49.0,
 49.0,
 49.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 38.0,
 39.0,
 40.0,
 39.0,
 39.0,
 39.0,
 38.0,
 42.0,
 43.0,
 39.0,
 38.0,
 35.0,
 36.0,
 36.0,
 40.0,
 35.0,
 38.0,
 38.0,
 42.0,
 41.0,
 42.0,
 41.0,
 41.0,
 41.0,
 46.0,
 43.0,
 42.0,
 41.0,
 43.0,
 43.0,
 42.0,
 41.0,
 44.0,
 47.0,
 48.0,
 49.0,
 52.0,
 49.0,
 48.0,
 52.0,
 53.0,
 53.0,
 58.0,
 58.0,
 58.0,
 61.0,
 58.0,
 59.0,
 55.0,
 57.0,
 57.0,
 57.0,
 61.0,
 61.0,
 55.0,
 58.0,
 59.0,
 61.0,
 56.0,
 56.0,
 57.0,
 58.0,
 54.0,
 51.0,
 54.0,
 53.0,
 51.0,
 52.0,
 53.0,
 50.0,
 49.0,
 48.0,
 43.0,
 48.0,
 48.0,
 44.0,
 43.0,
 48.0,
 48.0,
 45.0,
 44.0,
 43.0,
 41.0,
 43.0,
 45.0,
 47.0,
 47.0,
 45.0,
 45.0,
 44.0,
 43.0,
 42.0,
 42.0,
 42.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 37.0,
 37.0,
 36.0,
 36.0,
 37.0,
 40.0,
 40.0,
 41.0,
 42.0,
 39.0,
 39.0,
 42.0,
 43.0,
 44.0,
 44.0,
 44.0,
 42.0,
 41.0,
 41.0,
 41.0,
 35.0,
 31.0,
 30.0,
 29.0,
 27.0,
 27.0,
 23.0,
 23.0,
 24.0,
 29.0,
 29.0,
 28.0,
 28.0,
 28.0,
 29.0,
 25.0,
 25.0,
 25.0,
 25.0,
 25.0,
 30.0,
 29.0,
 29.0,
 29.0,
 33.0,
 33.0,
 34.0,
 34.0,
 35.0,
 36.0,
 37.0,
 41.0,
 41.0,
 42.0,
 46.0,
 47.0,
 48.0,
 47.0,
 47.0,
 41.0,
 41.0,
 41.0,
 41.0,
 42.0,
 41.0,
 42.0,
 42.0,
 42.0,
 42.0,
 42.0,
 37.0,
 36.0,
 37.0,
 37.0,
 37.0,
 37.0,
 36.0,
 36.0,
 36.0,
 36.0,
 36.0,
 33.0,
 33.0,
 38.0,
 36.0,
 35.0,
 34.0,
 35.0,
 36.0,
 37.0,
 36.0,
 36.0,
 36.0,
 35.0,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 nan,
 ...]

In [99]:
final_df = df.groupby('match_id').sum()['runs'].reset_index().merge(df,on='match_id')

In [100]:
final_df=final_df[['match_id','batting_team','bowling_team','city','current_score','balls_left','wickets_left','crr','last_five','runs_x']]

In [101]:
final_df

,match_id,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
0,2,Australia,Sri Lanka,Melbourne,0,119,10,0.000000,NaN,168
1,2,Australia,Sri Lanka,Melbourne,0,118,10,0.000000,NaN,168
2,2,Australia,Sri Lanka,Melbourne,1,117,10,2.000000,NaN,168
3,2,Australia,Sri Lanka,Melbourne,3,116,10,4.500000,NaN,168
4,2,Australia,Sri Lanka,Melbourne,3,115,10,3.600000,NaN,168
...,...,...,...,...,...,...,...,...,...,...
61433,1265,Sri Lanka,Australia,Colombo,125,3,2,6.410256,32.0,128
61434,1265,Sri Lanka,Australia,Colombo,125,2,2,6.355932,32.0,128
61435,1265,Sri Lanka,Australia,Colombo,125,1,1,6.302521,32.0,128
61436,1265,Sri Lanka,Australia,Colombo,127,0,1,6.350000,33.0,128
61437,1265,Sri Lanka,Australia,Colombo,128,0,1,6.347107,32.0,128

In [102]:
final_df.dropna(inplace=True)

In [81]:
final_df.isnull().sum()

batting_team     0
bowling_team     0
city             0
current_score    0
balls_left       0
wickets_left     0
crr              0
last_five        0
runs_x           0
dtype: int64

In [103]:
final_df.to_csv('t20feature.csv')

In [84]:
final_df = final_df.sample(final_df.shape[0])

In [85]:
final_df

,batting_team,bowling_team,city,current_score,balls_left,wickets_left,crr,last_five,runs_x
45413,South Africa,India,Johannesburg,131,36,9,9.357143,53.0,219
30957,Australia,Sri Lanka,Nottingham,124,18,4,7.294118,45.0,159
33533,South Africa,England,Centurion,179,36,9,12.785714,63.0,241
10043,West Indies,England,Gros Islet,102,32,5,6.954545,35.0,160
37941,Sri Lanka,India,Nagpur,117,46,9,9.486486,63.0,215
...,...,...,...,...,...,...,...,...,...
48246,England,Australia,Melbourne,127,2,3,6.457627,32.0,130
4298,England,India,Manchester,71,68,9,8.192308,37.0,159
8250,Bangladesh,West Indies,Lauderhill,78,74,8,10.173913,47.0,184
37216,New Zealand,Australia,Wellington,73,39,6,5.407407,32.0,118
55973,Australia,India,Sydney,148,27,7,9.548387,59.0,197